<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script>
function myfunction(){
    let a=document.getElementById("a");
    var b=document.getElementById("b");

    if(a.checked){
    
     b.style.backgroundColor="#4682B4";
    

    }

    
}
function bt(){
        window.location.href="AptitudeTest.html";
     }

</script>
<body style="display: flex;justify-content: center;height: 100vh;align-items: center;">
    <div>
   <h1 style="padding-left: 22px;">Instructions</h1>
   <ul style="text-align: left; font-size: large;line-height: 30px;">
    <li>You must use a functioning webcam and microphone</li>
    <li>No cell phones or other secondary devices in the room or test area.</li>
    <li>No one else can be in the room with you</li>
    <li>he testing room must be well-lit and you must be clearly visible</li>
    <li>Do not leave the camera </li>
    <li>No use of additional applications or internet</li>
    <li>our desk/table must be clear or any materials except your test-taking device</li>
   </ul>
   <input id="a"  onclick="myfunction()" type="checkbox" style="margin-left: 25px;"><p style="margin-top: -20px;margin-left: 45px;">I accept above <a href="">terms </a>and <a href="">conditions</a></p>
   <center><button id="b"  onclick="bt()" style="padding: 15px 50px; background-color: skyblue;margin-bottom: 30px;color: white;border: 2px solid #4682B4;">Start</button></center>
</div>
</body>
</html>
