<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aptitude Test</title>
    <script>
        function f(){
            window.location.href="/verbal-test";
        }
    </script>
</head>
<body style="display: flex;justify-content: center;align-items: center;height: 100vh;">
    <div>
    <b style="font-style: italic;font-size: 100px;color: blueviolet;">Verbal Test</b><br/><br/>
   <center> <b style="font-size: 30px;font-style: italic;">30 Questions - 30 mins</b><br/><br/></center>
   <center> <button type="button" onclick="f()" style="color: blueviolet;background-color:wheat;padding-left: 20px;padding-right: 20px;padding-top: 12px;padding-bottom: 12px;"><b style="font-style: italic;">Start</b></button></center>
</div>
</body>
</html>